* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

h2 {
    margin-bottom: 20px;
}

img:not(.markdown-body) {
    width: 100%;
    max-width: 100%;
    height: auto;
}

p:not(.markdown-body) {
   /*! background-color: #fff; */
   /*! padding: 20px; */
   /*! box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
   /*! margin-top: 20px; */
}

.separator {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding: 10px;
    font-style: italic;
    color: #777;
}

.floating-text {
    position: absolute;
    right: 35%;
    font-size: 24px;
    color: red;
    animation: float 5s infinite linear, colorChange 10s infinite alternate;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    width: auto;
    text-align: center;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-50px); }
}

@keyframes colorChange {
    0% { color: red; }
    50% { color: blue; }
    100% { color: green; }
}

.digital-clock {
    position: relative;
    color: #fff;
    background: #2e2e44;
    width: 521px;  /* Shrink clock */
    padding: 10px 25px;
    box-shadow: 0 5px 25px rgba(14, 21, 37, 0.8);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; /* Space between clock and image */
}

.digital-clock:before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #24ff6d, #2f93f1, #ff5e9a);
    background-size: 200% 200%;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    z-index: -1;
    filter: blur(40px);
    animation: glowing 10s ease infinite;
}

@keyframes glowing {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

.time {
    position: relative;
    justify-content: center;
    align-items: center;
}

.hours,
.dots,
.minutes {
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 10px;
    line-height: 60px; /* Adjust line height */
}

.hours,
.minutes {
    font-size: 4em;  /* Shrink clock size */
    width: 80px;  /* Adjust size */
}

.dots {
    font-size: 3.5em;  /* Adjust dots size */
    color: #929292;
}

.hours {
    background: -webkit-linear-gradient(90deg, #634dff, #5fd4ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes {
    background: -webkit-linear-gradient(90deg, #ff5e9e, #ffb960);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 521px;
}

.period,
.seconds {
    font-size: 4.2em;
    font-weight: 500;
}

.period {
    transform: translateY(-20px);
    background: -webkit-linear-gradient(90deg, #f7b63f, #faf879);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds {
    transform: translateY(16px);
    background: -webkit-linear-gradient(90deg, #24ff6d, #2f93f1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calender {
    justify-content: center;
    align-items: center;
    font-size: 2.3em;
    font-weight: 500;
    margin-top: 20px;
}

.calender .month-name {
    background: linear-gradient(180deg, #ff5e9e, #ffb960);
    background-clip: text;
    color: transparent;
}

.calender .day-name {
    color: #999;
}

.format-switch-btn {
    cursor: pointer;
    display: inline-block;
    margin-left: 521px;
}

.format-switch-btn:before {
    content: '12hr';
}

.dot-menu {
    display: none;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.dot-menu .menu-item {
    color: #fff;
    padding: 5px;
}

.dot-menu .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.dot-menu-btn.active + .dot-menu {
    display: block;
}
